<h1>Anthracite API: events</h1>

<table>
  <thead>
    <tr>
      <th>kind:string</th>
      <th>user_ID:string</th>
      <th>payload:text</th>
      <th>date_recorded:timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>names the event</td>
        <td>optional</td>
        <td>working on JSON parser support</td>
        <td>a timestamp passed by the client, strict ISO 8601 will be enforced soon</td>
      </tr>
  </tbody>
</table>

<br>
