<h1>Anthracite API: BaseEvents</h1>

<table>
  <thead>
    <tr>
      <th>kind:string</th>
      <th>userID:string</th>
      <th>payload:text</th>
      <th>clientTimeStamp:timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>names the event</td>
        <td>optional</td>
        <td>working on JSON parser support</td>
        <td>strict ISO 8601 will be enforced soon</td>
      </tr>
  </tbody>
</table>

<br>
